doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Подтверждение email
  body 

  h1 Привет! Нужно подтвердить твой email 

  p Чтобы дальше пользоваться нашим сервисом на полную катушку – нужно подтвердить адрес электронной почты 

  p Сделать это можно перейдя по ссылке ниже

  a(href=link style="font-family: 'Roboto', sans-serif; font-size: 22px; background: rgb(221, 75, 57); color: #fff, font-weight: 700; padding: 15px 30px; margin: 20px auto; text-align: center;") Подтвердить email

  p или кликнуть здесь 
  a(href=link) #{link}
